@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button:focus {
  animation: click .25s;
}

button:hover {
  filter: brightness(1.1);
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(89, 73, 158, 0.6);
  font-size: 20px;
  line-height: 33px;
  color: rgba(89, 73, 158, 0.6);
}

input[type="checkbox"] {
  width: 25px !important;
  height: 25px;
  appearance: none;
  -webkit-appearance: none;
  border: 1.5px solid rgba(89, 73, 158, 0.6);
}

input[type="checkbox"]:checked {
  background-color: rgba(89, 73, 158, 0.6);
}

select {
  outline: 0;
  border: 0;
  background-color: #FFF;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  color: rgba(89, 73, 158, 0.6);
  outline: 0;
  border: 0;
  background: url(images/selectarrow.svg) right center no-repeat; 
  background-color: #fff; 
  appearance: none;
  -webkit-appearance: none;
}

.error {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: .25px;
  color: #5DCBE6;
  display: inline-block;
  margin: calc(50vh - 100px) 37.5%;
}

.blue-button {
  background: rgba(53, 190, 224, 0.8);
  border-radius: 6px;
  height: 44px;
  width: 250px;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
}

.green-button {
  background: rgba(24, 206, 187, 0.8);
  border-radius: 6px;
  height: 44px;
  width: 250px;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .5px;
}

/* .loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transition: all .5s;
}

.loading > img {
  width: 160px;
}

.loading.fade {
  left: -100%
} */

.header {
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: 1px solid rgba(89, 73, 158, 0.2);
  background-image: linear-gradient(#d3cbf4, #FFF);
}

.header-loggedin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-loggedin > * {
  margin-left: 20px;
}

.header-loggedin > p:first-of-type {
  color: #757575;
}

.header-loggedin > img:first-of-type {
  width: 20px;
  padding: 5px;
  cursor: pointer;
}

.header-loggedin > img:last-of-type {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-dropdown {
  z-index: 1;
  position: absolute;
  top: 85px;
  right: auto;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.user-dropdown > * {
  margin: 0;
  padding: 12.5px 20px;
  color: #59499E;
}

.user-dropdown > *:hover {
  cursor: pointer;
  color: #FFF;
  background: #59499E;
}

.user-dropdown.false {
  display: none;
}

.user-dropdown.false > * {
  opacity: 0;
}

.header-logo {
  height: 66%;
  display: flex;
  align-items: center;
}

.header-logo > img:first-of-type {
  height: 100%;
  margin-right: 5%;
}

.header-logo > p {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #59499E;
  margin-left: 5%;
}

.header-login-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-login-signup > p {
  font-weight: 900;
  color: #59499E;
  margin-right: 20px;
}

.header-login-signup > p:hover {
  box-shadow: 0 1px 0 #59499E;
  cursor: pointer;
}

.header-login-signup > button {
  margin-left: 20px;
}

.lostfound.false {
  visibility: hidden;
}

.toast {
  position: absolute;
  color: rgba(24, 206, 187, 0.8);
  transition: all 2.5s;
  margin-top: 0;
}

.toast.true {
  opacity: 1;
}

.toast.fade {
  opacity: 0;
}

.toast.false {
  display: none;
}

.feed {
  width: 80%;
  min-height: calc(100vh - 200px);
  padding: 4% 10%;
  position: relative;
}

.feed > img, .postdetails > img {
  z-index: -1;
  position: absolute;
}

.feed > .bg-small:first-of-type {
  bottom: 40%;
  left: 44%;
}

.feed > .bg-small:nth-of-type(2) {
  bottom: 1%;
  left: 75%;
}

.feed > .bg-med:nth-of-type(3) {
  bottom: 2%;
  left: 32%;
}

.feed > .bg-med:nth-of-type(4) {
  bottom: 64%;
  left: 2%;
}

.feed > .bg-left {
  bottom: 10%;
  left: 0;
}

.feed > .bg-right {
  bottom: 60%;
  right: 0;
}

.feed > .blue-button {
  font-size: 18px;
  display: block;
  margin: 0 auto 4% auto;
  width: 285px;
}

.feed > .blue-button {
  display: none;
}

.feed > .blue-button.false {
  display: block;
}

.feed > p, .find-shelters > p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #757575;
  margin-bottom: 3%;
  margin-top: 0;
}

.lostfound {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: .25px;
  color: #5DCBE6;
}

.post {
  cursor: pointer;
  margin: 5% 0;
  height: 300px;
  background: rgba(176, 165, 223, 0.1);
  border-radius: 4px;
  display: flex;
}

.post-pic {
  width: 33%;
  background: center center/cover;
}

.post-content {
  width: 62%;
  height: 100%;
  padding: 0 2.5%;
  position: relative;
}

.post-content > button {
  width: 250px;
  position: absolute;
  right: 2.5%;
  bottom: 5%;
}

.feed > .post > .post-content:hover {
  background: rgba(176, 165, 223, 0.3);
}

.post-title {
  color: rgba(89, 73, 158, 0.6);
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: inline-block;
}

.posted-by {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(89, 73, 158, 0.6);
  display: inline-block;
  margin-left: 3%;
}

.posted-by > span {
  font-weight: 500;
  color: rgba(117, 117, 117, 0.8);
}

.post-subheader {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(89, 73, 158, 0.6);
}

.post-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(117, 117, 117, 0.8);
  margin: 0;
}

.post-desc:last-of-type {
  max-width: 60%;
}

.bookmark {
  position: absolute;
  right: 3%;
  top: 5%;
  height: 30px;
  width: 25px;
  background-repeat: no-repeat;
  transition: all .25s;
}

.bookmark.false {
  background-image: url(images/bookmark.png);
}

.bookmark.true {
  background-image: url(images/bookmarked.png);
  animation: bookmark .5s;
}

.bookmark:hover {
  filter: brightness(1.33);
}

.postdetails {
  width: 80%;
  padding: 0 10%;
  position: relative;
}

.postdetails > .bg-right {
  right: 0;
  top: 50%;
}

.postdetails > .bg-left {
  left: 0;
  bottom: 0;
}

.postdetails > .bg-med {
  bottom: 0;
  right: 7%;
}

.postdetails > .blue-button {
  font-size: 18px;
  display: block;
  margin: 4% auto;
  width: 285px;
}

.single-post {
  width: 75%;
  margin: 5% auto;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.pictures, .map {
  width: 50%;
}

.pictures > img {
  width: 100%;
}

.single-post-content {
  width: 100%;
  margin: 5% auto;
  padding: 0 5% 2% 5%;
  border-radius: 4px;
  background: rgba(176, 165, 223, 0.1);
  position: relative;
}

.home-contact {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-post-content > .green-button {
  right: 2.5%;
  bottom: 5%;
}

.returnhome {
  font-weight: 500;
  color: #59499E;
}

.returnhome:hover {
  box-shadow: 0 1px 0 #59499E;
  cursor: pointer;
}

.login, .register {
  display: flex;
}

.find-shelters {
  width: 80%;
  padding: 0 10%;
  min-height: calc(99vh - 200px);
}

.find-shelters > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.find-shelters > form > input {
  width: 250px;
  margin-bottom: 5%;
}

.find-shelters > form > button {
  margin-bottom: 2.5%;
}

.shelter {
  margin: 5% 0;
  height: 200px;
  background: rgba(176, 165, 223, 0.1);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.shelter-info {
  width: 66%;
  display: flex;
  flex-direction: column;
}

.welcome {
  width: 50%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#d3cbf4, #FFF);
}

.welcome > img {
  position: absolute;
}

.welcome > img:first-of-type {
  bottom: 6%;
}

.welcome > img:nth-of-type(2) {
  top: 3%;
  right: 15%;
}

.welcome > img:nth-of-type(3) {
  bottom: 16%;
  right: 12%;
}

.welcome > img:nth-of-type(4) {
  top: 12%;
  left: 8%;
}

.welcome > div {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

.welcome > div > * {
  margin-bottom: 4%;
  z-index: 1;
}

.welcome-logo {
  width: 160px;
}

.reg-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.reg-form > *, .login-form > * {
  margin: 5% 0;
}

.reg-form > input[type="file"] {
  position: absolute;
  opacity: 0;
}

.upload-userpic {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg-form > img {
  max-width: 100px;
  max-height: 100px;
}

.reg-form > input, .reg-form > button {
  width: 100%;
}

.tos {
  position: absolute;
  z-index: 2;
  background: #FFF;
  overflow: scroll;
  width: 55%;
  height: 100vh;
  margin: 0 22%;
  padding: 0 5%;
  outline: 1px solid rgba(89, 73, 158, 0.6);
}

.tos > p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #59499E;
}

.close-tos {
  color: gray;
  display: inline;
  font-size: 30px;
  position: relative;
  left: 100%;
  top: 10px;
  cursor: pointer;
}

.accept-terms {
  width: calc(100% - 35px);
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(89, 73, 158, 0.6);
}

.accept-terms > span {
  color: #26A1DA;
  margin-left: 5px;
}

.accept-terms > span:hover {
  box-shadow: 0 1px 0 #26A1DA;
  cursor: pointer;
}

.upload-text {
  margin-left: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(89, 73, 158, 0.6);
}

.upload-text.false:hover {
  box-shadow: 0 1px 0 #59499E;
}

.upload-text.true {
  margin-left: 0;
}

.login-main, .register-main {
  width: 400px;
  margin: auto;
}

.login-form {
  display: flex;
  flex-flow: column;
  position: relative;
}

.login-form > button {
  width: 100%;
}

.login-main > button, .register-main > button {
  width: 100%;
}

.invalidcred {
  color: red;
  position: absolute;
  bottom: 30%;
}

.forgotpw {
  font-size: 14px;
  align-self: flex-end;
  margin-top: 0;
  cursor: pointer;
  color: #323232;
}

.forgotpw:hover {
  box-shadow: 0 1px 0 #59499E;
}

.page-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: .5px;
  color: #5DCBE6;
}

.bgpaw-corner {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  background: rgba(89, 73, 158, 0.2);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > img {
  margin: 0 3px;
}

@media only screen and (min-width: 1300px){

  .green-button {
    font-size: 16px;
  }

  .post-subheader {
    font-size: 18px;
  }

  .post-desc {
    font-size: 16px;
  }
}

@media only screen and (max-width: 950px){

  .welcome {
    display: none;
  }

  .login, .register {
    height: 100vh;
  }

}

@keyframes click {
  0% {transform: scale(1);}
  50% {transform: scale(.95);}
  100% {transform: scale(1);}
}

@keyframes bookmark {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}